@media screen and (min-width: 300px) and (max-width: 700px) {
    .container {
        width: 375px;
    }

    .head {
        text-align: center;
    }

    .wrap {
        width: 100%;
    }

    .wrap-2 {
        display: flex;
        flex-direction: column;
    }

    .wrap-3 {
        flex-direction: column;
        align-items: center;
    }

    .wrapper-2 {
        flex-direction: column;
    }
}
