.container {
    display: flex;
    flex-direction: column;
    background: #c0bebe;
    margin: 0 auto;
}
.w1000 {
    width: 1000px;
}
.wrap-2__header {
    text-align: center;
}
.wrap {
    box-sizing: border-box;
    padding: 20px;
}
.wrap-2 {
    border: 1px solid black;
}
.br {
    border-radius: 20px;
}
.wrap-3 {
    display: flex;
    column-gap: 20px;
    margin: 20px;
    justify-content: space-between;
}
.wrap-4__box {
    width: 200px;
    height: 200px;
    background: cadetblue;
    flex-grow: 1;
}
.wrap-4 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}
.wrapper {
    display: flex;
    background: cadetblue;
    justify-content: center;
}
.wrapper {
    display: flex;
    background: cadetblue;
    padding: 20px;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
}
.wrapper-2 {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
.wrapper-2__item {
    display: flex;
    flex-direction: column;
    border: 5px solid transparent;
    border-radius: 10px;
    text-align: center;
    row-gap: 10px;
    padding: 20px;
    align-items: center;
    transition: all 0.25s;
}
.wrapper-2__item:hover {
    border-color: white;
}
.wrapper-2__image {
    width: 170px;
    height: 160px;
    border-radius: 50%;
    background: #c5c1c1;
}
.footer {
    background: #c0bebe;
    height: 50px;
}

