.main {
    display: flex;
    flex-direction: column;
    background: beige;
    align-items: center;
    row-gap: 10px;
}
.a {
    width: 800px;
    height: 200px;
    background: deepskyblue;
}
.wrap {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.b {
    width: 500px;
    height: 300px;
    background: aqua;
}
.wrap2 {
    display: flex;
    column-gap: 10px;
}
.c {
    width: 160px;
    height: 160px;
    background: indigo;
}
.f {
    width: 300px;
    height: 470px;
    background: blueviolet;
}
