.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: beige;
    row-gap: 10px;
}
.wrap {
    display: flex;
    column-gap: 10px;
}
.box {
    width: 245px;
    height: 500px;
    background: deepskyblue;
}
.horbox {
    width: 500px;
    height: 200px;
    background: cornflowerblue;
}
.a {
    width: 160px;
    height: 200px;
    background: aqua;
}