.main {
    display: flex;
    background: beige;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.top {
    width: 1000px;
    height: 300px;
    background: deepskyblue;
}
.box {
    width: 320px;
    height: 320px;
    background: cornflowerblue;
}
.wrap {
    display: flex;
    column-gap: 20px;
}