.main {
    background: beige;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}
.a {
    width: 1500px;
    height: 300px;
    background: indigo;
}
.wrap {
    display: flex;
    column-gap: 10px;
}
.b {
    width: 900px;
    height: 300px;
    background: aquamarine;
}
.c {
    width: 600px;
    height: 300px;
    background: cornflowerblue;
}