.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: beige;
    row-gap: 10px;
}
.a {
    width: 800px;
    height: 200px;
    background: deepskyblue;
}
.wrap {
    display: flex;
    column-gap: 10px;
}
.wrap2 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.b {
    width: 180px;
    height: 180px;
    background: cornflowerblue;
}
.c {
    width: 230px;
    height: 370px;
    background: aqua;
}