.main {
    display: flex;
    background: beige;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 800px;
    height: 100px;
    background: cornflowerblue;
    border: 1px solid black;
}
.nav {
    width: 800px;
    height: 80px;
    background: deepskyblue;
    border: 1px solid black;
}
.wrap {
    display: flex;
}
.box {
    width: 500px;
    height: 200px;
    background: aqua;
    border: 1px solid black;
}
.aside {
    width: 300px;
    height: 200px;
    background: aquamarine;
    border: 1px solid black;
}